@import url('https://fonts.googleapis.com/css2?family=Wittgenstein:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --box-shadow: rgba(0, 0, 0, .2);
    --landing-color: rgba(249, 238, 207, 255);
    --header: rgba(252, 248, 233, 255);
    --button-color: rgba(235, 153, 28, 255);
    --white: white;
    --size-two: large;
    --dr: rgba(0,0,0,.2);
    --box-shadow-two: rgba(0,0,0,.4);
    --grey-accent: rgb(150,150,150);
}

.nav-container {
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: white;
    box-shadow: 0px 2px 10px var(--box-shadow);
    z-index: 5000;
}

.home-container {
    display: flex;
    height: 700px;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

.landing-container {
    height: inherit;
    width: 50%;
    overflow: hidden;
}

.landing {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    width: 50%;
    height: inherit;
    background-color: var(--landing-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-new {
    width: 100%;
    height: 240px;
    position: absolute;
    bottom: 0%;
    background-color: var(--landing-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-2 {
    display: flex;
    height: 100%;
    width: 80%;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
}


.dr, .landing-title {
    font-size: 50px;
    font-weight: 600;
    text-align: left;
    width: 90%;
    margin-bottom: 10px;
    font-family: Wittgenstein;
}

.landing-title-new {
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    width: 40%;
    margin-bottom: 10px;
    font-family: Wittgenstein;
    margin-bottom: 30px;
}

.landing-title-new-2 {
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    width: 90%;
    margin-bottom: 10px;
    font-family: Wittgenstein;
    margin-bottom: 30px;
}

.title-container {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}

.landing-button, .landing-subtitle {
    font-size: var(--size-two);
    font-weight: 400;
    text-align: left;
    width: 90%;
    line-height: 30px;
    font-family: Poppins;
}

.landing-subtitle-new {
    margin-bottom: 30px;
    text-align: right;
    font-size: var(--size-two);
    font-weight: 400;
    width: 60%;
    line-height: 30px;
    font-family: Poppins;
}

.landing-button {
    border: none;
    border-radius: 10px 10px 10px 10px;
    background-color: var(--button-color);
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 90%;
    font-weight: 700;
    cursor: pointer;
    transition: .7s ease;
    box-shadow: 10px 10px 4px var(--box-shadow);
}

.landing-button:hover {
    transform: scale(1.02);
    box-shadow: 10px 10px 4px var(--box-shadow);
}

.nav-container-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    height: inherit;
}

.dr {
    font-size: 35px;
    font-family: 'Wittgenstein';
    cursor: pointer;
    text-shadow: 0px 2px 4px var(--dr);
    width: auto;
    display: flex;
    align-items: center;
    justify-self: center;
    text-wrap: nowrap;
}

.pages-container {
    font-size: var(--size-two);
    display: flex;
    column-gap: 40px;
    font-family: Wittgenstein;
}

.nav-text {
    cursor: pointer;
    font-weight: 600;
    text-wrap: nowrap;
    display: flex;
    flex-wrap: nowrap;
    column-gap: 4px;
    position: relative;
}

.burger {
    cursor: pointer;
}

.container-container {
    background-color: white;
    width: 100%;
    height: 100vh;
    z-index: 5001;
    position: fixed;
}

.x-container {
    position: absolute;
    top: 0%;
    height: 10vh;
    width: 95%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.navpage-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    row-gap: 20px;
    height: inherit;
}

.navpage-text {
    text-decoration: none;
    font-family: Wittgenstein;
    color: black;
    font-style: none;
    font-size: larger;
    font-weight: 500;
    cursor: pointer;
    text-wrap: nowrap;
    display: flex;
    flex-wrap: nowrap;
    column-gap: 4px;
    position: relative;
}

.chevron {
    padding-top: 3px;
    transition: .4s ease;
}

.chevron-new {
    padding-top: 3px;
    transform: rotate(180deg);
    transition: .4s ease;
}

.dropdown-no-new, .dropdown-no {
    position: absolute;
    bottom: -60px;
    width: 0px;
    right: 50%;
    transform: translate(50%);
    background-color: transparent;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    row-gap: 2px;
    opacity: 0;
    transition: .7s width ease;
}

.dropdown-no-new {
    bottom: -90px;
}

.dropdown-new, .dropdown {
    position: absolute;
    bottom: -60px;
    right: 50%;
    transform: translate(50%);
    width: auto;
    background-color: white;
    z-index: 2000;
    box-shadow: 0px 0px 4px var(--box-shadow-two);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    row-gap: 2px;
    transition: .4s ease;
    font-size: var(--size-two);
    font-weight: 200;
}

.dropdown-new {
    bottom: -90px;
}

.dropdown-no-special {
    position: absolute;
    bottom: -88px;
    width: 0px;
    right: 50%;
    transform: translate(50%);
    background-color: transparent;
    z-index: 2000;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    row-gap: 2px;
    opacity: 0;
    transition: .7s width ease;
}


.dropdown-special {
    position: absolute;
    bottom: -88px;
    width: auto;
    right: 50%;
    transform: translate(50%);
    background-color: white;
    z-index: 2000;
    box-shadow: 0px 0px 4px var(--box-shadow-two);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    text-wrap: nowrap;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    row-gap: 2px;
    transition: .4s ease;
    font-size: var(--size-two);
    font-weight: 200;
}

.drop-text {
    cursor: auto;
    text-decoration: none;
}

.drop-text:hover {
    cursor: pointer;
    text-decoration: underline;
}

.landing-container-new {
    width: 100%;
    height: 100vh;
}

.spacer {
    height: 120px;
    width: 100%;
}

.spacer-2 {
    width: 100%;
    margin-top: 12px;
    background-color: var(--header);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-text {
    font-family: Poppins;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 70%;
    text-align: center;
    font-size: large;
    line-height: 28px;
}

.specialties {
    background-color: var(--header);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.specialties-container {
    width: 1152px;
    padding-top: 60px;
    padding-bottom: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    width: 100%;
    text-align: center;
}

.expertise {
    width: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 80px;
    row-gap: 60px;
}

.expertise-2 {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 40px;
}

.card-container {
    width: 175px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.card-container-2 {
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.card-img-container {
    overflow: hidden;
    width: 175px;
    height: 175px;
    box-shadow: 10px 10px 4px var(--box-shadow);
}

.card-img-container-2 {
    overflow: hidden;
    width: 150px;
    height: 150px;
    box-shadow: 10px 10px 4px var(--box-shadow);
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-button-2, .card-button {
    height: 30px;
    width: 150px;
    border-radius: 15px;
    background-color: var(--button-color);
    color: var(--white);
    font-family: Poppins;
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    cursor: pointer;
    transition: .7s ease;
    text-transform: uppercase;
}

.card-button-2 {
    width: 130px;
    font-size: 16px;
}

.card-button-2:hover, .card-button:hover {
    transform: scale(1.02);
    box-shadow: 5px 5px 4px var(--box-shadow);
}

.spacer-3 {
    height: 25px;
    width: 100%;
}

.locations {
    width: 100%;
    height: 300px;
    background-color: var(--header);
}

.map-2 {
    width: 360px;
    height: 360px;
    box-shadow: 10px 10px 4px var(--box-shadow);
}

.map-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
}

.map-2-item {
    font-size: large;
    font-family: Poppins;
    font-style: italic;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.about-container {
    width: 100%;
    height: 50px;
    background-color: var(--header);
}

.about-img-container {
    width: 300px;
    height: 400px;
    overflow: hidden;
    box-shadow: 10px 10px 4px var(--box-shadow);
}

.about-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.expertise-3 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 30px;
}

.header-text-2 {
    font-family: Poppins;
    text-align: left;
    font-size: large;
    line-height: 28px;
    width: 300px;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Poppins;
    font-size: large;
}

.new-color {
    font-weight: 800;
    color: 	var(--grey-accent);
}

.grey-bar {
    height: 200px;
    width: 1px;
    background-color: var(--grey-accent);
    box-shadow: 10px 10px 4px var(--box-shadow);
}

.grey-bar-new {
    height: 200px;
    width: 1px;
}

.grey-2 {
    height: 1px;
    width: 300px;
    background-color: var(--grey-accent);
}

.bottom-header {
    width: 100%;
    height: 400px;
    background-color: var(--landing-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.bottom-header-title {
    font-size: 30px;
    width: 100%;
    text-align: center;
    font-family: Wittgenstein;
    font-weight: 600;
}

.new-patients {
    width: 180px;
    height: 40px;
    background-color: rgb(40,40,40);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Poppins;
    font-size: large;
    font-weight: 200;
    transition: .7s ease;
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: 10px 10px 4px var(--box-shadow);
    border-radius: 0px;
}

.new-patients:hover {
    transform: scale(1.02);
    box-shadow: 10px 10px 4px var(--box-shadow);
}

.bottom-header-text {
    color: var(--grey-accent);
    font-size: large;
    font-weight: 500;
    font-family: Poppins;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    display: flex; 
    flex-wrap: nowrap;
    column-gap: 5px;
    margin-bottom: -20px;
}

.plus {
    margin-bottom: 0px; 
}

.blur {
    filter: blur(3px);
}

.top-form {
    background-color: var(--landing-color);
    padding-top: 160px;
    padding-bottom: 115px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.form-julie-2, .form-julie {
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    font-weight: 300;
    text-align: center;
}

.form-julie-2 {
    font-size: 30px;
}

.intake-2, .intake {
    font-family: Poppins;
    font-size: 60px;
    font-weight: 200;
    text-align: center;
}

.intake-2 {
    font-size: 30px;
}

.submit {
    width: 200px;
    height: 70px;
    border-radius: 20px;
    background-color: var(--button-color);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .7s ease;
    box-shadow: 10px 10px 4px var(--box-shadow);
    font-family: Poppins;
    color: white;
    cursor: pointer;
    z-index: 100;
}

.submit:hover {
    transform: scale(1.02);
}

.pdf-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(245,245,245);
    position: relative;
}

.pdf-container-2-2, .pdf-container-2 {
    width: 62%;
    box-shadow: 0px 2px 20px var(--box-shadow-two);
    background-color: white;
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
}

.pdf-container-2-2 {
    margin-bottom: 70px;
    width: 95%;
}

.link { 
    text-decoration: underline;
    transition: .7s ease;
    cursor: pointer;
}

.link:hover {
    color: rgb(40,40,40);
}

.doc-container {
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.doc-title-container-2, .doc-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
}

.doc-title-container-2 {
    width: 90%;
}

.doc-title-container-text {
    font-family: Poppins;
    font: large;
    font-weight: 700;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

.margin {
    margin-top: 20px;
    font-family: Poppins;
    text-align: left;
}

.margin-20 {
    text-align: center;
}

.margin-2 {
    margin-top: 20px;
    font-family: Poppins;
    text-align: center;
}

ol {
    border-top: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    padding-bottom: 20px;
}

li {
    margin: 5px 0;                 /* Sets the margin around each item */
    padding: 15px;                 /* Sets the background color */
    font-family: Poppins;          /* Sets the font */
    border-bottom: 1px solid #ddd; /* Adds a border at the bottom */
    width: 100%;                   /* Makes sure the <li> spans the full width */
    box-sizing: border-box;        /* Ensures padding and border are included in width */
}

.form-container-info-3, .form-container-info-2, .form-container-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;
    margin-top: 25px;
    row-gap: 30px;

}

.form-container-info-3 {
    flex-direction: column;
    width: 100%;
}

.form-container-info-2 {
    flex-direction: column;
}

.form-tag {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.input-field-2, .input-field {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-field-2 {
    width: 100%;
}

.input-info-3, .input-info-2, .input-info {
    border: none;
    border-bottom: 2px solid #ddd;
    width: 200px;
    height: 30px;
    font-size: large;
    font-family: Poppins;
    line-height: 30px; /* Adjust line-height to match the height of the input */
    padding-top: 5px; /* Adjust padding-bottom to fine-tune the cursor position */
    box-sizing: border-box; /* Ensure padding and border are included in the total width and height */
    padding-left: 0px;
}

.input-info-3 {
    width: 100%;
}

.input-info-2 {
    width: 240px;
}

.form-text-3, .form-text-2, .form-text {
    margin-top: 3px;
    display: flex;
    justify-content: flex-start;
    width: 200px;
    align-items: center;
    font-family: Poppins;
    font-size: large;
}

.form-text-3 {
    width: 100%;
}

.margin-7 {
    margin-top: 100px;
    font-size: large;
    font-weight: 700;
}

.form-text-2 {
    width: 240px;
}

.middle-text-form {
    font-family: Poppins;
    font-size: large;
    padding-top: 40px;
}

.space {
    width: 100%;
    height: 200px;
    position: absolute;
    top: 0%;
    background-color: var(--landing-color);
}

.space-2 {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0%;
    background-color: var(--landing-color);
    z-index: 0;
}

.extra-margin {
    margin-bottom: 50px;
}

.text-text {
    color: black;
    font-family: Poppins;
    font-weight: 300;
    font-size: large;
}

.margin-8 {
    width: 100%;
    margin-top: 30px;
}

.room {
    width: 100%;
    height: 60px;
    background-color: var(--header);
}

.room-2 {
    width: 100%;
    height: 80px;
    background-color: var(--header);
}

.upon {
    max-width: 600px;
    min-width: 200px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: Poppins;
    font-size: large;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
    margin-bottom: -70px;
}

.special-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: rgb(245,245,245);
}

.special-image-container {
    width: 80%;
    height: 520px;
    overflow: hidden;
    box-shadow: 0px 0px 40px rgb(0,0,0, .8);
}

.special-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.special-info {
    width: 100%;
    overflow: hidden;
    background-color: var(--header);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.special-title {
    font-family: Wittgenstein;
    font-size: 60px;
    font-weight: 600;
    padding-top: 15px;
}

.special-text {
    font-family: Poppins;
    font-size: large;
    font-weight: 300;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 40px;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;

}